WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
PORT=3000
DOMAIN=mysellauth.com
ROLE_ID=YOUR_DISCORD_ROLE_ID
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_GUILD_ID=YOUR_DISCORD_SERVER_ID
DISCORD_CHANNEL_ID=YOUR_DISCORD_CHANNEL_ID
